.videoLeftCol {
	position: absolute;
	z-index: 60;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 50%;
	background: linear-gradient(to top right, #e6c300 0%, #ffec80 100%);	
}

.videoWhite {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 25%;
	font-weight: bold;
}
.videoHr {
	border-color: #fff;	
	width: 50%;
}
.videoLink {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}
.videoLinkHover {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;		
	border-bottom: 3px solid white;
}
.videoLinks {		
	position: absolute;
	left: 50%;
	bottom: 70px;
	width: 100%;		
	text-align: center;
}
.video-link-content {
	position: relative;
	left: -50%;	
}
.videoLinksCorrection {		
	position: absolute;
	left: 50%;
	bottom: 67px;
	width: 100%;		
	text-align: center;
}
.video-intra-links {	
	display: inline-block;	
	
}
.videoRightCol {
	margin-left: 50%;
	height: 100vh;
	width: 50%;
	font-size: 20px;
}
.videoRightColContent {
	height: 100%;
	padding: 50px 100px 100px 100px;
	color: black;
	overflow-y: scroll;	

}
.video-details-container {
	width: 100%;
	border: 1px solid red
}
.video-details {
	
	
}
.video-details-2 {
	
}

.me-video {
	height: 300px;
	margin-top: 50px;
}
.name-video {			
	font-weight: bold;	
}
.video-headings {
	font-weight: bold;
}

.video {
  height: 310px; 
  width: 100%
}